.asdef {
  position: relative;
  height: fit-content;
  padding: 10px 30px;
  display: flex;
  background: white;
}

.asdef .course_container {
  position: relative;
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  border-bottom: 1px solid #e6e6e6;
}

.asdef .course_container .row {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.asdef .course_container .row .col {
  position: relative;
  width: 100%;
  max-width: 350px;
  height: 300px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  display: flex;
  align-items: end;
}


.asdef .course_container .row .col .col_description{
  display: none;
}

.asdef .course_container .row .col .overlay{
  display: none;
}

.asdef .course_container .row .col:hover {
  border: 1px solid #2ee297;
  /* justify-content: space-between; */
  align-items: normal;
  flex-direction: column;
}

.asdef .course_container .row .col:hover .col_description {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition-duration: 2s;
}

.asdef .course_container .row .col:hover .overlay{
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more{
  width: fit-content;
}
