.asderfg{
    position: relative;
    height: 400px;
    padding: 10px 30px;
    display: flex;
    background: white;
}

.asderfg .sub_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
}
.asderfg .sub_container .text_content{
    display: flex;
    align-items: center;
}

.form_shell {  
    display: flex;
    align-items: center;
  }

.form_shell input{
    flex: 1;
    border: 1px solid #9e9ea8;
    border-radius: 4px;
    height: 34px;
    font-size: large;
    letter-spacing: 2px;
    padding: 2px 4px;
    margin-right: 10px;
}

.check_box{
    display: flex;
    /* align-items: center; */
}
