.search_modal_container {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
}

.search_modal_container .search_modal_overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
}

/* .search_container{
    position: relative;
    width: 100%;
    max-width: 900px;
    height: 300px;
    margin: 60px 0px;
    background: white;
    border-radius: 5px;
    padding: 15px;
} */

.search_container {
  position: relative;
  padding: 12px;
  margin: 64px auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: white;
  width: min(100vw - 60px, 900px);
  height: min-content;
  max-height: min(100vh - 128px, 900px);
  border-radius: 6px;
}

.form_shell {
  border: 1px solid #9e9ea8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  cursor: text;
}


.search_input {
  padding: 6px 12px;
  font-size: inherit;
  width: 100%;
}

input {
  background: transparent;
  border: none;
}

input:focus {
  outline: none;
}

.search_input_container {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  /* padding: 0 10px; */
  border-radius: 5px;
  background: #f6f6f7;
}

.input_container {
  flex: 1;
  background: green;
  display: flex;
}

.input_container input {
  display: block;
  flex: 1;
  height: 100%;
}

.search-keyboard-shortcuts {
  font-size: 0.8rem;
  opacity: 75%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  line-height: 14px;
}

.search-keyboard-shortcuts kbd {
  background: #8080801a;
  border-radius: 4px;
  padding: 3px 6px;
  min-width: 24px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid rgba(128, 128, 128, 0.15);
  box-shadow: 0 2px 2px #0000001a;
}

.search_action {
  cursor: pointer;
}
