.register_container{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register_container .register_form_container{
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.register_container .register_form_container .input_container {
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    display: flex;
}

.register_container .register_form_container .input_container input {
    height: 100%;
    width: 100%;
    padding: 2px 5px;
    border-radius: 10px;
    border: 1px solid #0f2830;
    outline: none;
    flex: 1;
}

.divider{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.divider .csdef {
    flex: 1;
    height: 1px;
    background: #0f2830;
}